<!-- HÉROE PRINCIPAL -->
<section id="hero" class="d-flex align-items-center justify-content-center bg-gradient bg-light pt-5 pb-5 mt-7 set-height-100">
  <div class="container">
    <div class="row align-items-center">
      <!-- Texto y Valor Principal -->
      <div class="col-12 col-lg-7 text-center text-lg-start">
        <h1 class="display-3 fw-bold mb-3 text-dark">Soluciones Web Innovadoras con Angular & NestJS</h1>
        <p class="lead mb-4 text-muted">Desarrollo full-stack que optimiza procesos en un <strong>40%</strong> y eleva la experiencia digital.</p>
        <p class="mb-4 text-muted sm-title">Jean Carlos Rodríguez - Especialista en TypeScript</p>
        <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start">
          <a href="#proyectos" class="btn btn-dark btn-lg px-5">Explora mis Proyectos</a>
          <a href="#contact" class="btn btn-outline-dark btn-lg px-5">Hablemos de Oportunidades</a>
        </div>
      </div>
      <!-- Imagen o Representación Visual -->
      <div class="col-12 col-lg-5 text-center d-none d-md-none d-lg-block">
        <div class="image-container">
          <img [src]="'./assets/images/landing-2.webp'" class="w3-image img-fluid mb-3" alt="WorkFlow">
        </div>
      </div>
    </div>
  </div>
</section>

