@use "./../../../../../themes/variables" as *;


/* -------- CSS VARIABLES -------- */
:root {
    --color-primary      : #1976d2;
    --color-accent       : #ff4081;
    --color-background   : #f5f5f5;
    --color-text         : #333333;
}