<!-- SOBRE MÍ -->
<section id="sobre-mi" class="py-5 bg-dark text-white text-center pt-5 pb-5">
    <div class="container">
        <h2 class="fw-bold mb-4 title">Mi Trayectoria</h2>
        <p class="lead text-secondary mx-auto" style="max-width: 600px;">
            Ingeniero Informático con experiencia en desarrollo full-stack, especializado en Angular, NestJS y
            TypeScript. He liderado proyectos como Linki, reduciendo tiempos de coordinación en un 40%, y optimizado
            aplicaciones empresariales con pruebas unitarias al 92% de cobertura.
        </p>
    </div>
</section>