<section id="proyectos" class="d-flex align-items-center justify-content-center bg-gradient bg-light pt-5 pb-5 mt-7 ">
    <div class="container">
      <h2 class="fw-bold text-center mb-5 title">Proyectos</h2>
  
      <div class="row g-4">
        @for (project of data.projects; track project.id) {
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card project-card h-100 shadow border-0 rounded-4 overflow-hidden">
              <div class="card-body d-flex flex-column">
                <h5 class="fw-bold mb-2">{{ project.title }}</h5>
                <p class="text-muted small flex-grow-1">{{ truncateDescription(project.description, 200) }}</p>
  
                <div class="mb-3">
                  @for (tech of project.technologies; track tech) {
                    <span class="badge bg-dark me-1 mb-1">{{ tech }}</span>
                  }
                </div>
  
                @if (project.link) {
                  <a [href]="'https://' + project.link"
                     target="_blank"
                     class="btn btn-outline-dark btn-sm w-100">
                    Ver más
                  </a>
                }@else {
                    <a class="w3-disabled btn btn-outline-dark btn-sm w-100">
                   Ver más
                 </a>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>